@font-face {
  font-family: "Young Serif";
  src: url("YoungSerif-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Outfit";
  src: url("Outfit-Regular.ttf") format("truetype");
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(29, 11%, 95%);
  width: 100vw;
  min-height: 100vh;
  font-family: "Outfit";
  font-weight: 400;
  font-size: 16px;
  color: hsl(24, 5%, 18%);
  line-height: 1.6;
}

.main {
  background-color: white;
  width: 45.1%;
  padding: 2.625em;
  border-radius: 15px;
}

.main img {
  border-radius: 15px;
  width: 100%;
  height: auto;
}

.main h1,
h2 {
  font-family: "Young Serif";
}

.main h2 {
  color: hsl(14, 45%, 36%);
}

.main span {
  font-weight: 700;
}

.prepare-time {
  background-color: hsl(330, 100%, 98%);
  padding: 1em;
  border-radius: 15px;
  margin: 0;
}

.prepare-time-p {
  font-family: "Outfit";
  font-weight: 600;
  color: hsl(332, 51%, 32%);
  font-size: 1.5em;
  margin: 0;
}

ul,
ol {
  padding-left: 1em;
}

ul li::marker,
ol li::marker {
  color: hsl(332, 51%, 32%);
  font-weight: 600;
}

ul li{
  padding-left: 1.75em;
}
ol li {
  padding-left: 1.25em;
}

/* 添加表格样式 */
table {
  width: 100%;
  border-collapse: collapse;
}
/* 增加单元格之间间距 */
td {
  padding: 1em 2em;
}
/* 不显示表头 */
thead {
  display: none;
}
/* 每行加分割线 */
tr:not(:last-child) {
  border-bottom: 0.5px solid hsl(30, 18%, 87%);
}
/* 第二列加粗 */
td:nth-child(2) {
  font-weight: 600;
  color:hsl(14, 45%, 36%)
}


hr {
  width: 100%;
  border: 0.5px solid hsl(30, 18%, 87%);
}

@media (max-width: 375px) {
body{
  display: flex;
  border-radius: 0px;
  background-color: white;
  margin: 0;
  padding:0;
}

.main{
  width: 100%;
  border-radius: 0px;
  padding: 2em 2em;
}

img.recipe-image{
  border-radius: 0px;
  padding: 0px;
  width: calc(100% + 4em);
  height: 100%;
  margin: -2em;
  padding-bottom: 2em;
}
}
